.currency-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.125rem;
  width: 28.125rem;
  height: 12.5rem;
  border: 1px solid black;
}

.amount {
  width: 5rem;
  height: 1.5625rem;
  margin-right: 0.625rem;
}

.from-currency-option {
  width: 4.375rem;
  height: 1.875rem;
  margin-right: 10px;
}

.to-currency-option {
  width: 4.375rem;
  height: 1.875rem;
  margin-right: 10px;
}

.result {
  width: 5rem;
  height: 1.5625rem;
}

.exchange-button {
  width: 5rem;
  height: 1.875rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 0.9375rem;
  cursor: pointer;
}
